@{
    ViewBag.Title = "Home Page";
}

<div></div>
<br />
<div class="jumbotron">
    <h1>LocalsScout</h1>
    <p class="lead">This page will help you find the best suited location for Renting/Buying a bussines store.</p>
</div>

