@{
    ViewBag.Title = "Home Page";
}

<div></div>
<br />
<div class="jumbotron">
    <h1>LocalsScout</h1>
    <p class="lead"><i>This page will help you find the best suited location for Renting/Buying a bussines store.</i></p>
</div>
<div>
    <h1 style="color:darkblue; text-align:center"><i>Добре дојдовте на нашиот сајт</i></h1>
    <p style="color:dodgerblue; text-align:center; font-size:medium">Oвој сајт претставува едноставно пребарување 
    на локации за хотели, локали, барови, пекари, 
    продавници за облека, како и фризерски салони, кои
    се наоѓаат во Скопје.</p>
</div>

<div>
    <img src="~/sliki/Skopje.png"  style="width:450px; height:380px; margin-left:340px"/> 
</div>

