@{
    ViewBag.Title = "Home Page";
}

<div></div>
<div class="jumbotron">
    <h1>LocalsScout</h1>
    <p class="lead">This page will help you fint the best suited location for Renting/Buying a bussines store.</p>
</div>

